# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file (Go 1.18+)
go.work
go.work.sum

# Dependency directories (if using vendoring)
vendor/

# IDE/editor specific
.idea/
.vscode/
*.swp

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
.aof